@import "material-color";

body {
    margin: 0px;
    background-color: @clr-grey-50;

    #toolbar {
      /*
        position: fixed;
        top: 0px;
        width: 100%; */
        border-bottom: 1px solid @clr-grey-500;

        #bar-search {
          padding: 5px 9px;
          width: 50%;
          margin-top: 10px;
          background-color: @clr-grey-50;
        }

        #ipt-search {
          width: calc(~"100% - 45px");
          font: 16px arial,sans-serif;
          border: none;
          line-height: 34px;
        }

        #btn-search {
          border: none;
          background: none;
          position: relative;
          top: 5px;
          float: right;

          &:hover {
            cursor: pointer;
          }
        }
    }

    #properties-table{
      padding-top: 62px;

      .head {
        background-color: @clr-grey-400;
        color: @clr-blue-grey-900;
        font-size: 1.2rem;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .body {
        padding-top: 10px;
        color: @clr-grey-900;
        .hidden{
          visibility: hidden;
        }
        .line {
          padding: 10px;

          &.first {
              margin-top: 10px;
          }
          &.predicate {
            background-color: @clr-grey-300;
            &.first{
              background-color: @clr-grey-400;
            }
          }

          &.object {
            background-color: @clr-blue-grey-100;
            &.first{
              background-color: @clr-blue-grey-300;
            }
          }
          & img {
            max-height: 400px;
            max-width: 100%;
          }
          & .link:hover{
            cursor: pointer;
            color: @clr-blue-400;
          }
        }
      }
    }
}

/* Components */
