body {
  color: red;
  margin: 0px;
  background-color: #424242;
}
body #toolbar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #fafafa;
}
body #toolbar #ipt-search {
  width: calc(100% - 45px);
  font: 16px arial, sans-serif;
  border: none;
  line-height: 34px;
}
body #toolbar #btn-search {
  border: none;
  background: none;
  position: relative;
  top: 5px;
  float: right;
}
body #toolbar #btn-search:hover {
  cursor: pointer;
}
body #properties-table {
  padding-top: 70px;
}
body #properties-table .head {
  background-color: #1565c0;
  color: #66bb6a;
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
body #properties-table .body {
  color: #4caf50;
}
body #properties-table .body .hidden {
  visibility: hidden;
}
body #properties-table .body .line {
  padding: 10px;
}
body #properties-table .body .line.first {
  margin-top: 10px;
}
body #properties-table .body .line.predicate {
  background-color: #757575;
}
body #properties-table .body .line.predicate.first {
  background-color: #616161;
}
body #properties-table .body .line.object {
  background-color: #546e7a;
}
body #properties-table .body .line.object.first {
  background-color: #455a64;
}
body #properties-table .body .line img {
  max-height: 400px;
  max-width: 100%;
}
body #properties-table .body .line .link:hover {
  cursor: pointer;
  color: #42a5f5;
}
/* Components */
